h1 {
    color: blue
}
h2 {

  color:aquamarine  
}

*{
    border:solid
}

.header{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    font-style:italic ;
    padding-left: 20px;
}
.grid{
    display:flex;
    justify-content: space-evenly;
    flex-wrap:wrap ;
}
.footer{
    display: flex;
    justify-content: flex-end;
   background-color: purple;

    
}
p,h2{
text-align: center;


}
body{
    background-color: #808080;
}


